

.test {
    display: flex;
}


 /* body {
    background-image: url('https://opengameart.org/sites/default/files/bg_space_seamless_1.png');
    background-size: cover;
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* .li {
    display: inline;
}

.header {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 234), 0 0 5px rgb(71, 71, 105);
}

.section {
    width: 1430px;
    border: 4px solid rgba(159, 171, 187, 0.26);
    border-radius: 5px;
    text-shadow:  1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
    display: flex;
    height: 2550px;
    padding: 2px;
    flex-wrap: wrap;
    box-shadow: 20px 20px 50px rgba(rgb(239, 255, 9),rgb(1, 255, 1),rgb(255, 128, 0));
    backdrop-filter: blur(5px);

}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.homebox {
 
  width: 100vw;
  display: flex;
  align-self: flex-start;
  justify-content: center;

}


.boxes {
    background-color: rgba(112, 145, 192, 0.185);
    color: rgb(243, 243, 243);
    border-radius: 3px;
    border-top: 2px solid rgba(112, 145, 192, 0.574);
    border-left: 2px solid rgba(112, 145, 192, 0.574);
    width: 300px;
    margin: 2px;
    text-align: center
}

.empty {
    background-color: rgba(148, 116, 148, 0.404);
    border-radius: 3px;
    border-top: 2px solid rgba(112, 145, 192, 0.574);
    border-left: 2px solid rgba(112, 145, 192, 0.574);
    width: 300px;
    height: 200px;
    color: white;
    margin:2px;
 

}

.another {
  background-color: rgba(148, 116, 148, 0.404);
  border-radius: 3px;
  border-top: 2px solid rgba(112, 145, 192, 0.574);
  border-left: 2px solid rgba(112, 145, 192, 0.574);
  width: 300px;
  height: 200px;
  color: white;
  margin:2px;
}
img {
  border-radius:3px;
  width:450px;
  height:230px;
 
  
}
.end {
    background-color: rgba(148, 116, 148, 0.404);
    border-radius: 3px;
    background-image:contain;
    border-top: 2px solid rgba(112, 145, 192, 0.574);
    border-left: 2px solid rgba(112, 145, 192, 0.574);
    width: 450px;
    height: 230px;
    color: white;
    margin:4px;
    
}


.me {
    background-color: rgba(71, 125, 199, 0.247);
    border-radius: 3px;
    border-top: 2px solid rgba(112, 145, 192, 0.574);
    border-left: 2px solid rgba(112, 145, 192, 0.574);
    text-align:center;
    width: 450px;
    height: 229px;
    margin: 3px;
}  */

:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

.card-container {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.card, .cardTwo {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  perspective: 1000px;
}

.card__inner, .cardTwo__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped, .cardTwo__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

